

<tf-label >This is a label comonent that can be used inside other components to
    increase the code reusablity</tf-label>

<tf-label [textColor]="'blue'">There are multiple properties which can be used for changing the behaviour of text</tf-label>
<tf-label [textHoverHighlight]="'red'" [text]="'sasa'" [textHighlight]="true">sasas</tf-label> 
<tf-label [textHighlight]="true" [text]="'sasa'">asasd</tf-label>
<tf-label [textDisable]="true"></tf-label>
<tf-label [iconName]="'dotted-line'" [textUndeline]="true">Edit</tf-label>
<tf-label [textHoverUndeline]="true">Create</tf-label>
<tf-label [textUndeline]="true">Delete</tf-label>
 
<pre>
  Main Preperties to be added

 1 jumbo-text 36
 2 mainHeader 32px
 3 subheader 28px
 4 secondsubheader 24px
 5 header 20px
 6 small-text 12px

Create A new ActionLink Component having below functionalities, by using the label compoent. 

 7 label click - fire event to do some operations
 8 add features like OpenPage Link [navigate url],refresh page link [refresh webpage / a service call]
  ,full screen browser etc .We need to identify the scenarios 


    </pre>
